 <div class="container">
        <div class="row">
        	<div class="col-md-8">

				        	<center><h1>Contact Us</h1></center>
				<h3>Find out more about Silverton Custom Homes. Call us directly or complete the form and one of our representatives will contact you shortly.<br /><br /></h3>
				<div class="col-md-6">
					<p><b>New Home Design & Selection Center</b></p>
					<p>(512) 267-3777</p>
					<p>18592 FM 1431</p>
					<p>Jonestown, Texas 78645</p>

					<p><a href"https://www.google.com/maps/preview?q=silverton+custom+homes&daddr=18592+Farm+to+Market+1431,+Jonestown,+TX+78645+(Silverton+Custom+Homes)&hl=en&view=map&geocode=CRsNDuv2RX3LFV5b0QEd6c4p-iHXXsANKVI-ng&t=m&z=16">Directions to Silverton’s Design & Selection Center</a></p>
				</div>
				<div class="col-md-5">

					<p><b>Lakeway Office</b></p>
					<p>Lakeway, Texas 78734</p>
				</div>
			</div>
			<div class="col-md-4">
				<h3>New Home Design & Selection Center</h3>
				<br />
				<P><%= image_tag("staticmap.png") %></p>
					<h3>Lakeway Office</h3>
				<br />
				<P><%= image_tag("staticmap-1.png") %></p>
			</div>
		</div>
</div>
