 <div class="container">
        <div class="row">
        	<div class="col-md-8">

				        	<center><h1>Contact Us</h1></center>
				<h3>Please don't hesitate to call, we look forward to getting to know you. <br /><br /></h3>
				<div class="col-md-6">
					<p><b>New Home Design & Selection Center</b></p>
					<p>512.267.3777</p>
					<p>18592 FM 1431</p>
					<p>Jonestown, Texas 78645</p>

					<p><a href"https://www.google.com/maps/preview?q=silverton+custom+homes&daddr=18592+Farm+to+Market+1431,+Jonestown,+TX+78645+(Silverton+Custom+Homes)&hl=en&view=map&geocode=CRsNDuv2RX3LFV5b0QEd6c4p-iHXXsANKVI-ng&t=m&z=16">Directions to Silverton’s Design & Selection Center</a></p>
					<br /><br />

				</div>
				<div class="col-md-5">
					<p><b>Lakeway Showcase Home / Office</b></p>
					2100 Moonlight Trace
					<p>Spicewood, Texas 78669</p>
				</div>
				<center><p>
					Please drop us a note so we can begin to get to know you.  Whether your price point is sub 200K or 2M plus, we're here to help! 
				</p></center><br />
									<center>
				<script type="text/javascript" src="https://gj117.infusionsoft.com/app/form/iframe/660afd245a0872d38b062453ee757d02"></script>
</center>
			</div>
			<div class="col-md-4">
				<h3>New Home Design & Selection Center</h3>
				<br />
				<P><%= image_tag("staticmap.png") %></p>
					<h3>Lakeway Showcase Home / Office</h3>
				<br />
				<P><%= image_tag("staticmap-1.png") %></p>
			</div>
			<div id="contact_text" class="col-md-12">
				
				<p>
					Please let us know when is a good time for us to reach out to you for a quick chat or to set up a face to face meeting.
				</p> 
				<p>
					Please tell us what stage of the process you are in, please provide us with your lot location or with the area of town that interest you, and how you heard about Silverton.
				</p> <br /><br />
			<div>

		</div>
</div>
