        	<div id="paradehomes">
        	<a href="/portfolios/26">
				<%= image_tag("dvparade2.jpg") %>
			</a>
				<br />
				<br />

				<br />
				<br />
			</div>
			<div class="container">
        <div class="row">
			<div id="paradehome_text" class="col-md-6">

				<p>This home's sloped roofs, clean lines, and soothing monochromatic tones embody the  modern lifestyle of Austin, but it's also perfectly designed to capture this breathtaking hill country setting. You're sure to leave the daily stress of life behind immediately upon entering the private courtyard which includes a contemporary pool design with a water feature cascading down the courtyard wall. It makes for a cordial entry and a sense of tranquility to match the serene countryside surroundings. The spatial layout which divides the private spaces from the public ones,  frame the pool to give opulent  vantage points. The successful combination of large picture frame windows and the open floor plan equip the private courtyard oasis with grandiose views of the endless rolling hills and the glistening Pedernales River. This picturesque setting becomes one with the home translating through the rear sunset viewing deck equipped with a huge double sided masonry fireplace, into the great room and through to the courtyard.  The toughest part of the day may be deciding on which area to spend your evening . </p>
				<p>
				The owners retreat  is appointed with the beauty and elegance of a private luxury spa with a fireplace and complex multilayered ceiling structure providing a warm glow of indirect lighting. </p>
				<p>
				The Children's wing has two bedrooms, one with an incorporated multi level bed system that begs for a sleep over with a built in stair section and even a private hideaway.  The tech center is conveniently located to allow for a concentration on homework but open enough so mom and dad can still participate in leisurely activities. 
				The home's  guest wing  is equipped with a casita & kitchenette providing ample privacy but also affords an amazing view of the pool within the courtyard. This wing is also home to the media room which is ready to host hours of family entertainment. </p>
				<p>
				As you get lost in the home's modern edge, you'll also notice the warm atmosphere details accented by the inviting color palette and wood accents, particularly in the beams, and ceiling treatments, providing the final touches that define this Silverton Custom Home's and Design Visions collaboration as the new trend in modern living.</p>

				<br />
				<br />	
				<center><h4>To purchase this Plan and explore our full inventory of Home Plans<br /></h4><div id="map">
					<%= link_to "Click Here", "/register", class: "btn btn-primary" %>  
				</div>
				<br />
				<br />
			</div>
			<div id="map" class="col-md-6">
					<%= image_tag("3564-13078_Page_2.jpg") %>
					<br />
					<%= image_tag("3564-13078_Page_1.jpg") %>
					 
					<br /><br /><br />
			
				</div>
		</div>
	</div>

