<div class="container">
        <div class="row">
        	<div id"remodel" class="col-md-4">
				<%=image_tag("Zalman_Residence_-_After-07.jpg", align:"left") %>
			</div>
				<center><h2>You can’t tell one of our remodeled rooms from our new customs</h2></center>
				<p><b>Remodel with the ease of an experienced team helping you every inch of the way</b></p>

				<p>Here’s how it works. We will quickly provide preliminary pricing and specifications to get an idea on budget goals. Next, we work with you to prioritize your wants and needs to make selection adjustments that stretch your dollars and to help you get the most for your money. These will serve as a guideline in completing the plans and working within your budget. Confident in offering accurate pricing to each buyer through computerized budgeting, we eliminate the guesswork. Once final plans and engineering are complete, pricing and specifications will be provided to you for the final agreement.</p>

				<p>Our services are intended to deliver the personal attention you deserve – and yet, you don’t pay extra for the experience. Let us help create the home you envision while setting – and sticking to a budget – Your Budget.</p>

				<p>Design, budgeting, and remodeling for Austin, Westlake, Lakeway, and Lago Vista areas.</p>
				<p>Do it all at one place</p>
				<h2><%= link_to "View our Rmodeling Portfolio", "/portfolios/18" %></h2>

				<center><h3>Call Joyce Coonrod at (512) 801-7998 for more information</h3></center>
				<br /><br />


		</div>
	</div>