
<div class="container">
        <div class="row">
			<center><h1><br /><br />You’re ready to go, so please check your email.<br /><br /></h1></center>

			<h3>
				We auto-magically sent you a link with access to our online plan portfolio.
			</h3>
			<h3>

				So, go check your email now.
			</h3>
			<h3>

				If you experience any issues, then please call us at (512) 267-3777.
			</h3>
			<br /><br /><br /><br />
		</div>
	</div>
