// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#portfolio_page {
	background: url("light_grey.png")repeat center center fixed;
	margin-top: -12px;

}

#portfolio_images img {
	border-radius: 6px;
	/*box-shadow: 5px 5px 5px #888;*/
}
#portfolio_show {

background: url("overlay.png") !important;
}
#porty {
	background:#888;
background-image: url("overlay.png") !important;
}

#portfolio_images {
	/*max-width: 250px;*/
}


#portfolio_main {
background:#888;
background-image: url("overlay.png");
position:fixed;
max-width:100%;
height: 100%;

}
#portfolio_main img {
/*position: absolute; */
max-height:100%;
max-width: 100%;
  top: 0; 
  /*left: 0px; */
  right: 0px; 
  bottom: 0; 
  margin: auto; 

}

#portfolio_thumb {
background:#888;
 left:0; height:100%; text-align:center; -moz-box-shadow: 0px 0px 4px #000; -webkit-box-shadow: 0px 0px 4px #000; box-shadow: 0px 0px 4px #000;


	top: -8px; 
  	margin-bottom: -38px; 
	display:inline-block;
	background-image: url("overlay.png");
	/*margin-bottom:30px;*/

	color:#fff;
	font-size:120%;
	
}

#portfolio_thumb img {

	display:inline-block;
	margin: 10px;
	margin-left:-1px;
	border-radius: 6px !important;

}


#portfolio_thumb a {
color:#fff;
}

#secondgroup {
    display:none;
}
#thirdgroup {
    display:none;
}
#fourthgroup {
    display:none;
}
#secondgroup_icon {
    display:none;
}
#thirdgroup_icon {
    display:none;
}
#down2_icon {
    display:none;
}
#down3_icon {
    display:none;
}


.uptest {
	display: inline-block;
}
#portfolio_text {
	font-size:120%;
	margin-bottom:30px;
	margin-top:15px;
}

#portfolio_text p {
	font-size: 115%;
}
#portfolio_text h2 {
	margin-bottom:15px;
}
#slide_icons_up {
padding-top: 10px;
font-size:135%;
	
} 
#slide_icons_down {
padding-bottom: 10px;
font-size:135%;
	
} 



