// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#portfolio_page {
	background: url("light_grey.png")repeat center center fixed;
	margin-top: -12px;

}

#portfolio_images img {
	border-radius: 6px;
	/*box-shadow: 5px 5px 5px #888;*/
}
#portfolio_show {
	background:#888;
background-image: url("overlay.png") !important;
}
#porty {
	background:#282B2A;
/*background-image: url("overlay.png") !important; */
}

#portfolio_images {
	/*max-width: 250px;*/
}


#portfolio_main {
background:#282B2A;
/*background-image: url("overlay.png");*/
position:fixed;
 height:100%;
  max-width: 100%;


}
#portfolio_main img {
  display: table-cell !important;
  vertical-align: middle !important;
  text-align: center !important;
  max-height:100%; 
  max-width: 100%;
  margin-top: -60px !important;
  left: 50%; 
  right: 0;
  bottom: 0;
  margin: auto;


}

#portfolio_thumb {
padding-top:15px;
padding-bottom:15px;
background:#282B2A;
 left:0; height:100%; text-align:center; -moz-box-shadow: 0px 0px 4px #000; -webkit-box-shadow: 0px 0px 4px #000; box-shadow: 0px 0px 4px #000;

/*margin: auto;
	top: 0px; 
  	margin-bottom: 0px; */
	display:inline-block;
	/*background-image: url("overlay.png");*/
	/*margin-bottom:30px;*/

	color:#fff;
	font-size:120%;
	
}

#portfolio_thumb img {

	display:inline-block;
	margin: 5px;
	margin-left:-1px;
	border-radius: 0px !important;

}


#portfolio_thumb a {
color:#fff;
}

#secondgroup {
    display:none;
}
#thirdgroup {
    display:none;
}
#fourthgroup {
    display:none;
}
#fithgroup {
    display:none;
}
#sixthgroup {
    display:none;
}
#secondgroup_icon {
    display:none;
}
#thirdgroup_icon {
    display:none;
}
#fourthgroup_icon {
    display:none;
}
#fithgroup_icon {
    display:none;
}
#sixthgroup_icon {
    display:none;
}
#down2_icon {
    display:none;
}
#down3_icon {
    display:none;
}
#down4_icon {
    display:none;
}
#down5_icon {
    display:none;
}
#down6_icon {
    display:none;
}


.uptest {
	display: inline-block;
}
#portfolio_text {
	font-size:120%;
	margin-bottom:30px;
	margin-top:15px;
}

#portfolio_text p {
	font-size: 115%;
}
#portfolio_text h2 {
	margin-bottom:15px;
}
#slide_icons_up {
padding-top: 10px;
font-size:135%;
	
} 
#slide_icons_down {
padding-bottom: 10px;
font-size:135%;
	
} 



